.bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;

    &:before {
        position: absolute;
        top: 19px;
        display: block;
        width: 8px;
        height: 6px;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg);
    }

    &.you {
        float: left;
        color: $white;
        background-color: $blue;
        align-self: flex-start;
        @include animation-name(slideFromLeft);
        &:before {
            left: -3px;
            background-color: $blue;
        }
    }

    &.me {
        float: right;
        color: $dark;
        background-color: #eceff1;
        align-self: flex-end;
        @include animation-name(slideFromRight);
        &:before {
            right: -3px;
            background-color: #eceff1;
        }
    }
}