<div>
    <div ng-model="vm.botConversation"></div>
    <div ng-model="vm.luisReturnData"></div>
    <input ng-model="vm.utterence" placeholder="comment" />
    <button ng-click="vm.sendUtterence()">Send</button>
</div>